<!DOCTYPE html>
<html>

<head>
  <title>Fitness Gym</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <link rel="stylesheet" type="text/css" href="css/mdb.min.css">
  <link href="css/datepicker.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="css/sidebar.css">
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
  <link href="css/osfont.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/sweetalert2.min.css" />
  <link rel="stylesheet" href="css/jquery-ui.min.css">
  <link rel="stylesheet" type="text/css" href="css/daterangepicker.min.css" />
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">

  <!-- script important on top -->
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/render.min.js"></script>
  <script type="text/javascript" src="js/moment.min.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
  
  
  <!--Plugin css/JavaScript file offline -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
  <!--Plugin css/JavaScript file offline -->
  

</head>
<style>
  .modal-header, .modal-body, .modal-footer {
    border: 1px solid #dee2e6;
  }
  
  .slide-blue .irs--flat .irs-handle > i:first-child {
      background-color: #069bd3;
  }
  
  .slide-blue .irs--flat .irs-bar {
      background-color: #069bd3;
  }
  
  .slide-blue .irs--flat .irs-from,
  .slide-blue .irs--flat .irs-to,
  .slide-blue .irs--flat .irs-single {
      background-color: #069bd3;
  }
  
  .slide-blue .irs--flat .irs-from:before,
  .slide-blue .irs--flat .irs-to:before,
  .slide-blue .irs--flat .irs-single:before {
      border-top-color: #069bd3;
  }
</style>

<body>
  <div class="wrapper">
    <!-- Sidebar -->
    <div id="p-menu"></div>

    <div class="content-i">
      <!-- header -->
      <div id="p-header"></div>

      <div id="content">
        <div class="container-sm item-center">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add New Trainer</h5>
            </div>
            <div class="modal-body">
              <form id="form-trainer" enctype="multipart/form-data" autocomplete="off">
                  
                <!-- Tabs navs -->
                <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
                  <li class="nav-item" role="presentation">
                    <a
                      class="nav-link active"
                      id="ex1-tab-1"
                      data-mdb-toggle="tab"
                      href="#ex1-tabs-1"
                      role="tab"
                      aria-controls="ex1-tabs-1"
                      aria-selected="true"
                      >Profile</a
                    >
                  </li>
                  <li class="nav-item" role="presentation">
                    <a
                      class="nav-link"
                      id="ex1-tab-2"
                      data-mdb-toggle="tab"
                      href="#ex1-tabs-2"
                      role="tab"
                      aria-controls="ex1-tabs-2"
                      aria-selected="false"
                      >Time schedule</a
                    >
                  </li>
                </ul>
                <!-- Tabs navs -->
                            
                <!-- Tabs content -->
                <div class="tab-content" id="ex1-content">
                  <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1"> <br>
                    <div class="row">
                      <div class="col-sm-12 col-lg-6">
                        <div class="form-outline form-group">
                          <i class="pre-icon os-icon os-icon-user me-3" data-toggle="tooltip" title="Name"></i>
                          <input type="text" class="form-control" id="name" name="name" required>
                          <label class="form-label required" for="name">Name</label>
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-6">
                        <div class="form-outline form-group">
                          <i class="pre-icon os-icon os-icon-user me-3" data-toggle="tooltip" title="Father Name"></i>
                          <input type="text" class="form-control" id="father_name" name="father_name">
                          <label class="form-label" for="father_name">Father Name</label>
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-6">
                        <div class="form-outline form-group">
                          <i class="pre-icon icon-screen-smartphone" data-toggle="tooltip" title="Mobile Number"></i>
                          <input class="form-control" id="mobile_number" isNumber name="mobile_number" minlength="7" required oninput="this.value=this.value.replace(/\D/g,'')">
                          <label class="form-label required" for="mobile_number">Mobile Number</label>
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-6">
                        <div class="form-outline form-group">
                          <i class="pre-icon os-icon os-icon-calendar" data-toggle="tooltip" title="Joining Date"></i>
                          <input class="form-control datetime active" id="joining_date" name="joining_date" required>
                          <label class="form-label required" for="joining_date">Joining Date</label>
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-6">
                        <div class="form-outline form-group">
                          <i class="pre-icon os-icon os-icon-coins-4" data-toggle="tooltip" title="Fee"></i>
                          <input class="form-control" id="fee" isNumber name="fee" required oninput="this.value=this.value.replace(/\D/g,'')">
                          <label class="form-label required" for="fee">Fee</label>
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-6">
                        <div class="form-outline form-group">
                          <i class="pre-icon icon-user" data-toggle="tooltip" title="Weight"></i>
                          <input class="form-control" id="weight" name="weight" required>
                          <label class="form-label" for="weight">Weight</label>
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-6">
                        <div class="form-outline form-group">
                          <i class="pre-icon icon-envelope" data-toggle="tooltip" title="Email"></i>
                          <input type="email" class="form-control" id="email" name="email">
                          <label class="form-label" for="email">Email</label>
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <i class="pre-icon icon-cloud-upload" data-toggle="tooltip" title="Trainer Image"></i>
                          <div class="input-group .file-upload">
                            <input type="text" class="form-control" placeholder="Trainer Image" name="image">
                            <span class="input-group-btn">
                              <div class="custom-file-uploader">
                                <input type="file" name="file" onchange="this.form.image.value = this.files.length ? this.files[0].name : ''">
                              </div>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-6">
                        <div class="form-outline form-group">
                          <i class="pre-icon icon-home" data-toggle="tooltip" title="Address"></i>
                          <input type="text" class="form-control" id="address" name="address">
                          <label class="form-label" for="address">Address</label>
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-6">
                        <div class="form-group">
                          <i class="pre-icon icon-directions" data-toggle="tooltip" title="Gender"></i>
                          <select class="form-select active" id="gender" name="gender">
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-12">
                        <div class="form-outline form-group">
                          <i class="pre-icon icon-pencil" data-toggle="tooltip" title="Other Details"></i>
                          <input type="text" class="form-control" id="other_details" name="other_details">
                          <label class="form-label" for="other_details">Other Details</label>
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                    <br>
                    <div class="row slide-blue">
                      <div class="col-sm-8 col-lg-8">
                        <div class="row">
                          <div class="col-sm-6 col-lg-6 text-left">
                            <p class="bold">Shift 1</p>
                          </div>
                          <div class="col-sm-6 col-lg-6 text-right">
                            <p id="monday_time">12:00 am - 11:59 pm</p>
                          </div>
                        </div>
                        <div class="col-sm-12 col-lg-12">
                          <input type="text" class="js-range-slider monday_interval" name="monday_interval" />
                        </div>
                      </div>
                      <div class="col-sm-4 text-center pt-4">
                        <p>Is Available</p>
                        <div class="text-center p-2"><input type="checkbox" name="monday_available" id="monday_available" checked class="checkbox multi-select checktd"></div>
                      </div>
                    </div>
                    <hr>
                    <div class="row slide-blue">
                      <div class="col-sm-8 col-lg-8">
                        <div class="row">
                          <div class="col-sm-6 col-lg-6 text-left">
                            <p class="bold">Shift 2</p>
                          </div>
                          <div class="col-sm-6 col-lg-6 text-right">
                            <p id="tuesday_time">12:00 am - 11:59 pm</p>
                          </div>
                        </div>
                        <div class="col-sm-12 col-lg-12">
                          <input type="text" class="js-range-slider tuesday_interval" name="tuesday_interval" />
                        </div>
                      </div>
                      <div class="col-sm-4 text-center pt-4">
                        <p>Is Available</p>
                        <div class="text-center p-2"><input type="checkbox" name="tuesday_available" id="tuesday_available" checked class="checkbox multi-select checktd"></div>
                      </div>
                    </div>
                    <hr>
                  </div>
                </div>
                <!-- Tabs content -->
              </form>
            </div>
            <div class="modal-footer">
              <div id="msg-view" class="alert" role="alert"></div>
              <button type="button" class="btn btn-sm btn-danger" type="submit" onclick="$('#form-trainer').submit()">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

<!-- jquery load script -->
<script>
  $("#p-header").load("./_partials/header.html", function () { $(this).children(':first').unwrap(); });
  $("#p-menu").load("./_partials/menu.html", function () { $(this).children(':first').unwrap(); });
  function pageActive () {
    $("#page-name").text("Add Trainer");
    $('#add_trainer').addClass('active');
  }
</script>

<script type="text/javascript" src="js/auth.js?v=2"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/mdb.min.js"></script>
<script src="js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="js/render-converter.js"></script>
<script src="js/jquery.autocomplete.min.js"></script>
<script type="text/javascript" src="js/daterangepicker.min.js"></script>
<script src="js/validator.min.js"></script>
<script src="js/sweetalert2.min.js"></script>

<script>
  
  $(document).ready(() => {
    
    $('#form-trainer').on('submit', function (e) {
      e.preventDefault();

      // submit order to rider
      var form = $(this)[0];
      var formData = new FormData(form);

      $.ajax({
        type: "POST",
        url: `${baseURL}/add-trainer`,
        contentType: false,  // tell jQuery not to set contentType
        processData: false,  // tell jQuery not to process the data
        data: formData,
        success: function (data) {
          if (data.status) {
            Swal.fire({ icon: 'success', title: data.message, showConfirmButton: false, timer: 1500 });
            $('#form-trainer').trigger("reset");
          } else {
            Swal.fire({ icon: 'error', title: 'Something Went Wrong', showConfirmButton: false, timer: 3000 });
          }
        }
      });
    });

    // ion range slider ######################################################################################
    $(".js-range-slider").ionRangeSlider({
      type: "double",
      values: window.times,
      from_min: 0,
      to: 96,
      grid: true,
      onChange: function (data) {
        let day = $(data.input).attr('name').split('_')[0];
        $(`#${day}_time`).text(`${moment(data.from_value, 'HH:mm:ss').format('hh:mm a')} - ${moment(data.to_value, 'HH:mm:ss').format('hh:mm a')}`);
      }
    });

    $('.checkbox').on("change", function () {
      $(this).parent().parent().parent().toggleClass('slide-blue');
    });

  });
</script>

</html>