<!DOCTYPE html>
<html>

<head>
  <title>Fitness Gym</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <link rel="stylesheet" type="text/css" href="css/mdb.min.css">
  <link href="css/datepicker.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="css/sidebar.css">
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
  <link href="css/osfont.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/sweetalert2.min.css" />
  <link rel="stylesheet" href="css/jquery-ui.min.css">
  <link rel="stylesheet" type="text/css" href="css/daterangepicker.min.css" />
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">

  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/render.min.js"></script>
  <script type="text/javascript" src="js/moment.min.js"></script>
  <script type="text/javascript" src="js/script.js"></script>

</head>

<body>
  <div class="wrapper">
    <!-- Sidebar -->
    <div id="p-menu"></div>

    <div class="content-i">
      <!-- header -->
      <div id="p-header"></div>

      <div id="content">
        <div class="container-sm">
          <div class="thead">
            <div class="row justify-content-md-center" id="row-thead">
              <div class="col-4 col-sm-4">
                <h4 class="mb-1">Gymboy List</h4>
                <h6 class="m-0" id="thead-status"></h6>
              </div>
              <div class="col-8 col-sm-8">
                <div class="pull-right">
                  <a href="#" id="bulk-assign-trainer-btn" class="btn btn-outline-success d-none"> <i
                      class="fa fa-motorcycle"></i> <b class="d-none d-sm-inline-block ms-1"> Trainer </b></a>
                  <a href="#" id="refresh-list" class="btn btn-outline-warning ms-2"> <i class="icon-refresh"></i> <b
                      class="d-none d-sm-inline-block ms-1"> Refresh </b></a>
                  <a href="#" id="filter-btn" class="btn btn-outline-secondary ms-2"> <i class="fa fa-filter"></i> <b
                      class="d-none d-sm-inline-block ms-1"> Filter </b></a>
                </div>
              </div>
            </div>
            <hr>
            <div id="filter-table">
              <div class="row">
                <div class="col-12 col-sm-6 col-lg-6">
                  <div class="form-outline form-group">
                    <i class="pre-icon os-icon os-icon-calendar" data-toggle="tooltip" title="Joining Date"></i>
                    <input class="form-control dated active" id="joining_date" name="joining_date" minlength="7">
                    <label class="form-label" for="joining_date">Joining Date</label>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 d-none">
                  <div class="form-outline form-group">
                    <i class="pre-icon os-icon os-icon-zap" data-toggle="tooltip" title="Hospital"></i>
                    <input class="form-control" name="filter-trainer" id="filter-trainer">
                    <input type="text" name="filter-trainerId" id="filter-trainerId">
                    <label class="form-label" for="filter-trainer">Trainer</label>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-6">
                  <div class="form-group">
                    <i class="pre-icon icon-list" data-toggle="tooltip" title="No of Delivery Show"></i>
                    <select class="form-control" id="filter-limit">
                      <option value="50" selected>50</option>
                      <option value="100">100</option>
                      <option value="150">150</option>
                      <option value="200">200</option>
                      <option value="250">250</option>
                    </select>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-6">
                  <div class="form-outline form-group">
                    <i class="pre-icon icon-magnifier" data-toggle="tooltip" title="Search"></i>
                    <input type="text" class="form-control" id="filter-search">
                    <label class="form-label" for="joining_date">Search</label>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-6">
                  <div class="form-group">
                    <i class="pre-icon icon-directions" data-toggle="tooltip" title="Sort"></i>
                    <select class="form-select" id="filter-sort" name="filter-sort">
                      <option value="1">Sort By Newest</option>
                      <option value="0">Sort By Oldest</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tbody" id="tbody">
            <!-- table body render here -->
          </div>
          <hr class="m-0">
          <div class="tfoot p-3" id="tfoot">
            <div class="page-desc">
              Showing 10 entries
            </div>
            <div class="page-btn text-right">
              <a href="#" class="btn btn-white mb-1" id="previous"> <i class="icon-arrow-left mr-1"></i> Prev</a>
              <a href="javascript:void(0)" class="btn btn-primary mb-1" id="pageNo">1</a>
              <a href="#" class="btn btn-white mb-1" id="next">Next <i class="icon-arrow-right ml-1"></i> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- description empty modal to render -->
  <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="row">
          <div class="col-12" id="userCard">
            <!-- user card render here -->
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- assign trainer modal -->
  <div class="modal fade" id="assignTrainer" tabindex="-1" role="dialog" aria-labelledby="assignTrainerTitle"
  aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            Assign Trainer To Gymboy <b id="gymboy_name"></b></h5>
            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="" id="form-assignTrainer">
            <input type="hidden" id="gymboy_id" name="gymboy_id" required>
            <div class="row">
              <div class="col-sm-12 col-lg-6">
                <div class="form-outline form-group">
                  <i class="pre-icon os-icon os-icon-user me-3" data-toggle="tooltip" title="Trainer Name"></i>
                  <input type="text" class="form-control trainer" id="trainer_name" name="trainer_name" required>
                  <input type="hidden" id="trainer_id" name="trainer_id" required>
                  <label class="form-label required" for="trainer_name">Trainer Name</label>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-sm-12 col-lg-6">
                <div class="form-outline form-group">
                  <i class="pre-icon os-icon os-icon-coins-4" data-toggle="tooltip" title="Trainer Fee"></i>
                  <input type="number" class="form-control trainer_fee" id="trainer_fee" name="trainer_fee" required>
                  <label class="form-label required" for="trainer_fee">Trainer Fee</label>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
            </div>
            <br>
            <br>
            <div class="row">
              <div class="col-sm-12 col-lg-12 text-right">
                <button class="btn btn-success submit" type="submit">Assign</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- edit gymboy modal -->
  <div class="modal fade" id="editGymboy" tabindex="-1" role="dialog" aria-labelledby="editGymboyTitle"
  aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            Edit Gymboy <b id="gymboy_name"></b></h5>
            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- form here -->
          <form id="edit-form-gymboy" enctype="multipart/form-data" autocomplete="off">
            <div class="row">
              <div class="col-sm-12 col-lg-6">
                <div class="form-outline form-group">
                  <i class="pre-icon os-icon os-icon-user me-3" data-toggle="tooltip" title="Name"></i>
                  <input type="text" class="form-control" id="edit_name" name="name" required>
                  <label class="form-label required" for="name">Name</label>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-sm-12 col-lg-6">
                <div class="form-outline form-group">
                  <i class="pre-icon os-icon os-icon-user me-3" data-toggle="tooltip" title="Father Name"></i>
                  <input type="text" class="form-control" id="edit_father_name" name="father_name">
                  <label class="form-label" for="father_name">Father Name</label>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-sm-12 col-lg-6">
                <div class="form-outline form-group">
                  <i class="pre-icon icon-screen-smartphone" data-toggle="tooltip" title="Mobile Number"></i>
                  <input class="form-control" id="edit_mobile_number" isNumber name="mobile_number" minlength="7" required oninput="this.value=this.value.replace(/\D/g,'')">
                  <label class="form-label required" for="mobile_number">Mobile Number</label>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-sm-12 col-lg-6">
                <div class="form-outline form-group">
                  <i class="pre-icon os-icon os-icon-calendar" data-toggle="tooltip" title="Joining Date"></i>
                  <input class="form-control datetime active" id="edit_joining_date" name="joining_date" required>
                  <label class="form-label required" for="joining_date">Joining Date</label>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-sm-12 col-lg-6">
                <div class="form-outline form-group">
                  <i class="pre-icon os-icon os-icon-coins-4" data-toggle="tooltip" title="Fee"></i>
                  <input class="form-control" id="edit_fee" name="fee" required oninput="this.value=this.value.replace(/\D/g,'')">
                  <label class="form-label required" for="fee">Fee</label>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-sm-12 col-lg-6">
                <div class="form-outline form-group">
                  <i class="pre-icon icon-user" data-toggle="tooltip" title="Weight"></i>
                  <input class="form-control" id="edit_weight" name="weight" required>
                  <label class="form-label" for="weight">Weight</label>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-sm-12 col-lg-6">
                <div class="form-outline form-group">
                  <i class="pre-icon icon-envelope" data-toggle="tooltip" title="Email"></i>
                  <input type="email" class="form-control" id="edit_email" name="email">
                  <label class="form-label" for="email">Email</label>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-sm-12 col-lg-6">
                <div class="form-outline form-group">
                  <i class="pre-icon icon-home" data-toggle="tooltip" title="Address"></i>
                  <input type="text" class="form-control" id="edit_address" name="address">
                  <label class="form-label" for="address">Address</label>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-sm-12 col-lg-6">
                <div class="form-group">
                  <i class="pre-icon icon-directions" data-toggle="tooltip" title="Gender"></i>
                  <select class="form-select active" id="edit_gender" name="gender">
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-12 col-lg-12">
                <div class="form-outline form-group">
                  <i class="pre-icon icon-pencil" data-toggle="tooltip" title="Other Details"></i>
                  <input type="text" class="form-control" id="edit_other_details" name="other_details">
                  <label class="form-label" for="other_details">Other Details</label>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</body>

<!-- gymboy list -->
<script id="tbodyTmpl" type="text/html">
	<div class="row origin-row" key="{{:id}}">
	  <div class="col col-6 col-sm-6 col-lg-3">
        <img class="img-desc" src="image/profiles/avatar.png" />
        <div class="user-desc ms-1">
            <p class="row-name" >{{:name}}</p>
            <p class="row-address" >{{:address}}</p>
        </div>
	  </div>
	  <div class="col col-6 col-sm-6 col-lg-1 c-end">
      <p class="show-profileModal">
        {{isPresent:is_active}}
      </p>
    </div>
	  <div class="col col-6 col-sm-6 col-lg c-start">
      <p class="row-phone text-center"><i class="m-2 i-desc icon-screen-smartphone warning"></i>{{:mobile_number}}</p>
	  </div>
	  <div class="col col-6 col-sm-6 col-lg c-end">
      <p class="row-restaurant text-center"><i class="m-2 i-desc os-icon os-icon-calendar primary"></i>{{format:joining_date}}</p>
	  </div>
	  <div class="col col-6 col-sm-6 col-lg c-start pr-0">
		  <p class="row-area text-center"><i class="m-2 i-desc os-icon os-icon-coins-4 warning"></i>{{currency:fee}}</p>
	  </div>
	  <div class="col col-6 col-sm-6 col-lg c-end">
		  <p class="row-order text-center"><i class="m-2 i-desc icon-user primary"></i>{{:weight}}</p>
    </div>
    
	  <div class="col-end col-12">
      <p class="row-info-bottom"><i class="me-2 icon-plus"></i>{{fromNow:created_at}}</p>
      <p class="row-info-bottom d-none d-sm-block"><i class="me-2 icon-envelope"></i>{{:email}}</p>
      <p class="row-info-bottom">{{:gender}}</p>

      <!-- Split dropright button -->
      <div class="btn-group dropright mb-2" key="{{:id}}">
        <button type="button" class="btn btn-sm {{isAssigned:trainer_id}} btn-assignTrainer p-1 pe-3 ps-3 stop" style="text-transform: inherit;">
          <i class="os-icon os-icon-ui-90 me-2"></i>
          {{isTrainer:trainer_name}}
        </button>
        <button type="button" class="btn btn-sm btn-default p-1" data-mdb-toggle="dropdown" aria-expanded="false">
          <i class="icon-settings m-1"></i>
        </button>

        <ul class="dropdown-menu">
          <li><a class="dropdown-item edit-gymboy" href="#"><i class="os-icon os-icon-ui-49 me-2"></i> Edit</a></li>
          <li><a class="dropdown-item btn-assignTrainer" href="#"><i class="os-icon os-icon-ui-90 me-2"></i> Assign Trainer</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item {{trueStatus:is_active}} toggle-status-gymboy" href="#"><i class="os-icon os-icon-grid-10 me-2"></i> {{toggleStatus:is_active}}</a></li>
          <!-- <li><a class="dropdown-item danger delete-gymboy" href="#"><i class="os-icon os-icon-ui-15 me-2"></i> Delete</a></li> -->
        </ul>
      
      </div>
      <!-- Split dropright button -->    
    </div>
	</div>
</script>

<!-- gym boy description -->
<script id="userCardTmpl" type="text/html">
  <div class="card after">
    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
    <div class="card-body">
      <div class="m-t-30 text-center">
        <img src="image/profiles/avatar.png"  class="img-circle br-none" width="130">
        <h4 class="card-title m-t-10">{{:name}}</h4>
        <h6 class="card-subtitle">{{:address}}</h6><br/>
        <div class="row">
          <div class="col text-center">
            <a href="javascript:void(0)" class="link">
              <i class="i-prof icon-screen-smartphone warning"></i>
              <p class="font-medium">{{:mobile_number}}</p>
            </a>
          </div>
          <div class="col text-center">
            <a href="javascript:void(0)" class="link">
              <i class="i-prof os-icon os-icon-calendar primary"></i>
              <p class="font-medium">{{format:joining_date}}</p>
            </a>
          </div>
          <div class="col text-center">
            <a href="javascript:void(0)" class="link">
              <i class="i-prof os-icon os-icon-coins-4 warning"></i>
              <p class="font-medium">{{:fee}}</p>
            </a>
          </div>
          <div class="col text-center">
            <a href="javascript:void(0)" class="link">
              <i class="i-prof icon-user primary"></i>
              <p class="font-medium">{{:weight}}</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="card-body">
      <div class="row">
        <div class="col-6 mb-2">
          <div class="p-t-30 db">Email</div>
          <h6>{{:email}}</h6>
        </div>
        <div class="col-6 mb-2">
          <div class="p-t-30 db">Gender</div>
          <h6>{{:gender}}</h6>
        </div>
        <div class="col-6 mb-2">
          <div class="p-t-30 db">Created</div>
          <h6>{{datetime:created_at}}</h6>
        </div>
        <div class="col-6 mb-2">
          <div class="p-t-30 db">Status</div>
          <h6>{{isPresent:is_active}}</h6>
        </div>
        <div class="col-6 mb-2">
          <div class="p-t-30 db">Other Details</div>
          <h6 class="danger">{{:other_details}}</h6>
        </div>
      </div>
    </div>
    <hr>
    <div class="card-body origin-row" key="{{:id}}">
      <a class="pull-right btn btn-outline-default ms-2" href="javascript:void(0)" data-mdb-dismiss="modal" aria-label="Close">
        <i class="os-icon os-icon-x-circle me-2"></i> <b>Close</b>
      </a>
    </div>
  </div>
</script>

<!-- jquery load script -->
<script>
  $("#p-header").load("./_partials/header.html", function () { $(this).children(':first').unwrap(); });
  $("#p-menu").load("./_partials/menu.html", function () { $(this).children(':first').unwrap(); });
  function pageActive() {
    $("#page-name").text("Gymboy List");
    $('#gymboy_list').addClass('active');
  }
</script>

<script type="text/javascript" src="js/auth.js?v=2"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/mdb.min.js"></script>
<script src="js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="js/render-converter.js"></script>
<script src="js/jquery.autocomplete.min.js"></script>
<script type="text/javascript" src="js/daterangepicker.min.js"></script>
<script src="js/validator.min.js"></script>
<script src="js/sweetalert2.min.js"></script>


<script>
  $(document).ready(() => {

    // dated ##############################################################
    $('.dated').daterangepicker({
      showDropdowns: true,
      startDate: moment().subtract(29, 'days'),
      endDate: moment(),
      ranges: window.dateranges,
      locale: {
        format: 'DD-MM-YYYY'
      }
    }, function (start, end, label) {
      processOnChange();
    });

    // pagging ###########################################################
    $('#next').on('click', function (e) {
      let i = +$('#pageNo').text();
      $('#pageNo').text(++i);
      processOnChange();
    });

    $('#previous').on('click', function () {
      let i = +$('#pageNo').text();
      if (i > 1) {
        $('#pageNo').text(--i);
        processOnChange();
      }
    });

    // on filter change and refresh ######################################
    $('#filter-sort, #filter-limit').on('change', function () {
      $('#pageNo').text(1); // set page to 1
      processOnChange();
    });

    $('#filter-search').on('input', function () {
      processOnChange();
    });

    // list-medical-record ###############################################
    function processOnChange() {
      let startDate = moment($("#joining_date").data('daterangepicker').startDate._d).format('YYYY-MM-DD 00:00:00');
      let endDate = moment($("#joining_date").data('daterangepicker').endDate._d).format('YYYY-MM-DD 23:59:59');
      let search = $('#filter-search').val() ? $('#filter-search').val() : 'All';
      let sort = $('#filter-sort').val();
      let take = $('#filter-limit').val();
      let skip = (+$('#pageNo').text() - 1) * +take;

      $.get(`${baseURL}/gymboy-list/${startDate}/${endDate}/${search}/${sort}/${skip}/${take}/${token}`, function (data) {
        data = data.row
        $("#tbody").html($("#tbodyTmpl").render(data)); // render tmplt
        $('.page-desc').html(`Showing ${data.length} Entries`);

        // on row click modal show ######################################
        $('.origin-row').on('click', function (e) {
          let userId = +$(this).attr('key');
          $("#userCard").html($("#userCardTmpl").render(data.filter(el => el.id == userId)));
          $('#profileModal').modal('show');
        });

        $('.edit-gymboy').on('click', function (e) {
          e.preventDefault(e)
          let userId = +$(this).closest('.origin-row').attr('key');
          fillEditGymBoyForm((data.filter(el => el.id == userId)));
          $('#editGymboy').modal('show');
        });

        $('.origin-row .col-end .btn-group').on('click', function (e) {
          e.stopPropagation();
        });

        initializeEvents();

      });
    }

    function initializeEvents () {
      // assign trainer modal show
      $('.btn-assignTrainer').on('click', function (e) {
        let userId = +$(this).closest('.origin-row').attr('key');
        $('#gymboy_name').text(` - ${userId}`);
        $('#gymboy_id').val(userId); // inside form input
        $('#assignTrainer').modal('show');
      });

      // deactivate gymboy
      $('.toggle-status-gymboy').on('click', function (e) {
        let userId = +$(this).closest('.origin-row').attr('key');
        // submit order to rider
        let formData = {
          "userId": +userId
        };
        $.ajax({
          type: "POST",
          url: `${baseURL}/toggle-activation-gymboy`,
          contentType: "application/json",
          headers: {
            "Authorization": `Bearer ${token}`
          },
          data: JSON.stringify(formData),
          success: function (data) {
            if (data.status) {
              Swal.fire({ icon: 'success', title: 'Success!!!', showConfirmButton: false, timer: 1500 });
              processOnChange();
            } else {
              Swal.fire({ icon: 'error', title: 'Something Went Wrong', showConfirmButton: false, timer: 3000 });
            }
          }
        });
      });
    }

    // fill edit form funcation ##########################################
    function fillEditGymBoyForm (data) {
      data = data[0];
      console.log(data);
      $('#edit_name').val(data.name);
      $('#edit_father_name').val(data.father_name);
      $('#edit_mobile_number').val(data.mobile_number);
      $('#edit_fee').val(data.fee);
      $('#edit_weight').val(data.weight);
      $('#edit_email').val(data.email);
      $('#edit_address').val(data.address);
      $('#edit_gender').val(data.gender);
      $('#edit_other_details').val(data.other_details);

      $('#edit_joining_date').daterangepicker({
        singleDatePicker: true,
        startDate: moment(data.joining_date),
        timePicker: true,
        showDropdowns: true,
        locale: {
          format: 'DD-MM-YYYY hh:mm A'
        }
      });
    }

    // initial run #######################################################
    processOnChange();
    
    // ################################################################################################## 
    // Autocomplete #####################################################################################
    // ################################################################################################## 

    // assign trainer
    $('.trainer').autocomplete({
      minChars: 3,
      delay: 500,
      autofocus: true,
      source: function (name, response) {
        $.ajax({
          type: 'GET',
          url: `${baseURL}/trainer-by-name/${name.term ? name.term : 'All'}/0/10/${token}`,
          beforeSend: function () {
            $(".ui-menu").html('<li class="ui-menu-item"><div class="ui-menu-item-wrapper" tabindex="0"><img src="./image/searching.gif" width="25" />Searching...</div></li>')
          },
          success: function (data) {
            if (data.row && data.row.length) {
              response(data.row.map(el => {
                return {
                  label: ` ${el.mobile_number} : ${el.name}`,
                  value: el.name,
                  data: el
                }
              }));
            } else {
              response([{
                label: `No Results Found!`,
              }]);
            }
          }
        });
      },
      select: function (e, { item }) {
        let el = item.data;
        $('#trainer_id').val(el.id);
        $('.trainer').addClass('active');
      },
      focus: function (e, ui) { e.preventDefault(); }
    })
      .on('focus', function () {
        $(this).autocomplete('search', $(this).val() == '' ? "All" : $(this).val());
      })
      .data("ui-autocomplete")._renderItem = function (ul, item) {
        return $("<li></li>")
          .data("item.autocomplete", item)
          .append(`<div><img class="ui-menu-image mr-3" src='image/avatar.png' />${item.label}</div>`)
          .appendTo(ul);
      };

    
    // ################################################################################################## 
    // assign rider form submission #####################################################################
    // ################################################################################################## 
    $('#form-assignTrainer').on('submit', function (e) {
      e.preventDefault();

      // submit order to rider
      let formData = {
        "gymboy_id": +$('#gymboy_id').val(),
        "trainer_id": +$('#trainer_id').val(),
        "trainer_fee": +$('#trainer_fee').val()
      };

      $.ajax({
        type: "POST",
        url: `${baseURL}/assign-trainer`,
        contentType: "application/json",
        headers: {
          "Authorization": `Bearer ${token}`
        },
        data: JSON.stringify(formData),
        success: function (data) {
          if (data.status) {
            Swal.fire({ icon: 'success', title: 'Trainer Is Assigned Successfully!!!', showConfirmButton: false, timer: 1500 });
            $('#form-assignTrainer').trigger("reset");
            $('#assignTrainer').modal('hide');
            processOnChange();
          } else {
            Swal.fire({ icon: 'error', title: 'Something Went Wrong', showConfirmButton: false, timer: 3000 });
          }
        }
      });
    });

    // ################################################################################################## 
    // edit-form-gymboy form submission #################################################################
    // ##################################################################################################     
    $('#edit-form-gymboy').on('submit', function (e) {
      e.preventDefault();
      if (!$('#edit-form-gymboy .form-group').hasClass('has-error')) {
        // submit order to rider
        var form = $(this)[0];
        var formData = new FormData(form);

        $.ajax({
          type: "POST",
          url: `${baseURL}/edit-gymboy`,
          contentType: false,  // tell jQuery not to set contentType
          processData: false,  // tell jQuery not to process the data
          data: formData,
          success: function (data) {
            if (data.status) {
              Swal.fire({ icon: 'success', title: data.message, showConfirmButton: false, timer: 1500 });
              $('#edit-form-gymboy').trigger("reset");
            } else {
              Swal.fire({ icon: 'error', title: 'Something Went Wrong', showConfirmButton: false, timer: 3000 });
            }
          }
        });
      }
    });

  });
</script>

</html>