<!DOCTYPE html>
<html>

<head>
  <title>Medical History Data</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <link rel="stylesheet" type="text/css" href="css/mdb.min.css">
  <link href="css/datepicker.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="css/sidebar.css">
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
  <link href="css/osfont.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/jquery-ui.min.css">
  <link rel="stylesheet" type="text/css" href="css/daterangepicker.min.css" />
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="css/sweetalert2.min.css" />

  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/render.min.js"></script>
  <script type="text/javascript" src="js/moment.min.js"></script>
  <script type="text/javascript" src="js/script.js"></script>

</head>

<style>
  .table-bordered thead td,
  .table-bordered thead th {
    color: #1266f1;
    background-color: #f6f9fc;
    font-size: 1rem;
  }
  .table-bordered td, .table-bordered th {
    padding: .3rem;
  }
  .table-striped>tbody>tr:nth-of-type(odd) {
    --bs-table-accent-bg: rgb(255 255 255);
  }
</style>

<body>
  <div class="wrapper">
    <!-- Sidebar -->
    <div id="p-menu"></div>

    <div class="content-i">
      <!-- header -->
      <div id="p-header"></div>

      <div id="content">
        <div class="container-sm">
          <div class="thead">
            <div class="row justify-content-md-center" id="row-thead">
              <div class="col-4 col-sm-4">
                <h4 class="mb-1">Report</h4>
                <h6 class="m-0" id="thead-status"></h6>
              </div>
              <div class="col-8 col-sm-8">
                <div class="pull-right">
                  <a href="#" id="add-fee-btn" class="btn btn-outline-success"> <i
                      class="os-icon os-icon-coins-4"></i> <b class="d-none d-sm-inline-block ms-1"> Add Fee </b></a>
                  <a href="#" id="refresh-list" class="btn btn-outline-warning ms-2"> <i class="icon-refresh"></i> <b
                      class="d-none d-sm-inline-block ms-1"> Refresh </b></a>
                  <a href="#" id="filter-btn" class="btn btn-outline-secondary ms-2"> <i class="fa fa-filter"></i> <b
                      class="d-none d-sm-inline-block ms-1"> Filter </b></a>
                </div>
              </div>
            </div>
            <hr>
            <div id="filter-table">
              <div class="row">
                <div class="col-12 col-sm-6 col-lg-6">
                  <div class="form-outline form-group">
                    <i class="pre-icon os-icon os-icon-calendar" data-toggle="tooltip" title="Payment Date"></i>
                    <input class="form-control dated active" id="filter-payment-date" name="filter-payment-date" minlength="7">
                    <label class="form-label" for="filter-payment-date">Payment Date</label>
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-6">
                  <div class="form-group">
                    <i class="pre-icon icon-list" data-toggle="tooltip" title="No of Delivery Show"></i>
                    <select class="form-control" id="filter-limit">
                      <option value="50" selected>50</option>
                      <option value="100">100</option>
                      <option value="150">150</option>
                      <option value="200">200</option>
                      <option value="250">250</option>
                    </select>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-6">
                  <div class="form-outline form-group">
                    <i class="pre-icon icon-magnifier" data-toggle="tooltip" title="Search"></i>
                    <input type="text" class="form-control" id="filter-search">
                    <label class="form-label" for="joining_date">Search</label>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-6">
                  <div class="form-group">
                    <i class="pre-icon icon-directions" data-toggle="tooltip" title="Sort"></i>
                    <select class="form-select" id="filter-sort" name="filter-sort">
                      <option value="1">Sort By Newest</option>
                      <option value="0">Sort By Oldest</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-sm-12 pt-4">
              <div class="card">
                <div class="table-responsive card-body" id="section-to-print">
                  <!-- header print -->
                  <div class="row mb-3">
                    <div class="col-sm-12 print-hide">
                      <button class="btn btn-sm btn-warning pull-right mt-0 me-2" id="print"><b><i class="icon-printer me-2"></i> Print </b></button>
                      <button class="btn btn-sm btn-success pull-right mt-0 me-2" id="csv"><b><i class="icon-book-open me-2"></i> CSV </b></button>
                    </div>
                  </div>
                  <!-- header print -->
                  <table class="table table-striped table-bordered exportToCSV">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Gym Boy</th>
                        <th>Mobile Number</th>
                        <th>Payment Date</th>
                        <th>Total Fee</th>
                        <th>Description</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody id="tbody">
                      <!-- render list here -->
                    </tbody>
                  </table>
                  <div class="tfoot p-3" id="tfoot">
                    <div class="page-desc">
                      Showing 10 entries
                    </div>
                    <div class="page-btn text-right">
                      <a href="#" class="btn btn-white mb-1" id="previous"> <i class="icon-arrow-left mr-1"></i> Prev</a>
                      <a href="javascript:void(0)" class="btn btn-primary mb-1" id="pageNo">1</a>
                      <a href="#" class="btn btn-white mb-1" id="next">Next <i class="icon-arrow-right ml-1"></i> </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="feeModal" tabindex="-1" role="dialog" aria-labelledby="feeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content" style="box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Fee</h5>
        </div>
        <div class="modal-body">
          <form id="form-add-fee" enctype="multipart/form-data" autocomplete="off">
            <div class="row">
              <div class="col-sm-12 col-lg-12">
                <div class="form-outline form-group">
                  <i class="pre-icon os-icon os-icon-user me-3" data-toggle="tooltip" title="Gymboy"></i>
                  <input type="text" class="form-control" id="gymboy" name="gymboy" required>
                  <input type="hidden" class="form-control" id="gymboy_id" name="gymboy_id" required>
                  <label class="form-label required" for="gymboy">Gymboy</label>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-sm-12 col-lg-6">
                <div class="form-outline form-group">
                  <i class="pre-icon os-icon os-icon-calendar" data-toggle="tooltip" title="Payment Date"></i>
                  <input class="form-control datetime active" id="payment_date" name="payment_date" required>
                  <label class="form-label required" for="payment_date">Payment Date</label>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-sm-12 col-lg-6">
                <div class="form-outline form-group">
                  <i class="pre-icon os-icon os-icon-coins-4" data-toggle="tooltip" title="Monthly Fee"></i>
                  <input type="number" class="form-control" id="monthly_fee" name="monthly_fee">
                  <label class="form-label" for="monthly_fee">Monthly Fee</label>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-sm-12 col-lg-6">
                <div class="form-outline form-group">
                  <i class="pre-icon os-icon os-icon-coins-4" data-toggle="tooltip" title="Trainer Fee"></i>
                  <input type="number" class="form-control" id="trainer_fee" name="trainer_fee">
                  <label class="form-label" for="trainer_fee">Trainer Fee</label>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-sm-12 col-lg-6">
                <div class="form-outline form-group">
                  <i class="pre-icon os-icon os-icon-coins-4" data-toggle="tooltip" title="Other Fee"></i>
                  <input type="number" class="form-control" id="other_fee" name="other_fee">
                  <label class="form-label" for="other_fee">Other Fee</label>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-sm-12 col-lg-12">
                <div class="form-outline form-group">
                  <i class="pre-icon icon-pencil" data-toggle="tooltip" title="Description"></i>
                  <textarea class="form-control" name="description" id="description"></textarea>
                  <label class="form-label" for="description">Description</label>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <div id="msg-view" class="alert" role="alert"></div>
          <button type="button" class="btn btn-sm btn-danger" type="submit"
            onclick="$('#form-add-fee').submit()">Submit</button>
        </div>
      </div>
    </div>
  </div>

</body>

<script id="tbodyTmpl" type="text/html">
  <tr>
    <td>{{:payslipId}}</td>
    <td>{{:name}}</td>
    <td>{{:mobile_number}}</td>
    <td>{{format:payment_date}}</td>
    <td>{{currency:total_fee}}</td>
    <td>{{:description}}</td>
    <td>
      <a href="payslip.html?payslipId={{:payslipId}}"><i class="os-icon os-icon-eye success me-1" data-toggle="tooltip" title="View"></i></a>
      <a href="#"><i class="os-icon os-icon-edit-32 primary me-1" data-toggle="tooltip" title="Edit"></i></a>
      <a href="#"><i class="os-icon os-icon-trash danger" data-toggle="tooltip" title="Delete"></i></a>
    </td>
  </tr>
</script>

<!-- jquery load script -->
<script>
  $("#p-header").load("./_partials/header.html", function () { $(this).children(':first').unwrap(); });
  $("#p-menu").load("./_partials/menu.html", function () { $(this).children(':first').unwrap(); });
  function pageActive() {
    $("#page-name").text("Report");
    $('#report').addClass('active');
  }
</script>

<script type="text/javascript" src="js/auth.js?v=2"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/mdb.min.js"></script>
<script src="js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="js/render-converter.js"></script>
<script src="js/jquery.autocomplete.min.js"></script>
<script type="text/javascript" src="js/daterangepicker.min.js"></script>
<script src="js/validator.min.js"></script>
<script src="js/sweetalert2.min.js"></script>

<script>

  // dated ##############################################################
  $('.dated').daterangepicker({
    showDropdowns: true,
    startDate: moment().startOf('year'),
    endDate: moment(),
    ranges: window.dateranges,
    locale: {
      format: 'DD-MM-YYYY'
    }
  }, function (start, end, label) {
    processOnChange();
  });

  // pagging ###########################################################
  $('#next').on('click', function (e) {
    let i = +$('#pageNo').text();
    $('#pageNo').text(++i);
    processOnChange();
  });

  $('#previous').on('click', function () {
    let i = +$('#pageNo').text();
    if (i > 1) {
      $('#pageNo').text(--i);
      processOnChange();
    }
  });

  // on filter change and refresh ######################################
  $('#filter-sort, #filter-limit').on('change', function () {
    $('#pageNo').text(1); // set page to 1
    processOnChange();
  });

  $('#filter-search').on('input', function () {
    processOnChange();
  });

  // function to show report of fee     
  function processOnChange() {
    let startDate = moment($("#filter-payment-date").data('daterangepicker').startDate._d).format('YYYY-MM-DD 00:00:00');
    let endDate = moment($("#filter-payment-date").data('daterangepicker').endDate._d).format('YYYY-MM-DD 23:59:59');
    let search = $('#filter-search').val() ? $('#filter-search').val() : 'All';
    let sort = $('#filter-sort').val();
    let take = $('#filter-limit').val();
    let skip = (+$('#pageNo').text() - 1) * +take;

    $.get(`${baseURL}/fee-list/${startDate}/${endDate}/${search}/${sort}/${skip}/${take}/${token}`, function (data) {
      data = data.row
      $("#tbody").html($("#tbodyTmpl").render(data)); // render tmplt
      $('[data-toggle="tooltip"]').tooltip();
      $('.page-desc').text(`Showing ${data.length} entries`);
    });
  }

  // initial run #######################################################
  processOnChange();    
  
  // show add fee form
  $('#add-fee-btn').on('click', function (e) {
    $('#feeModal').modal('show');
  });

  // form submission fee
  $('#form-add-fee').on('submit', function (e) {
    e.preventDefault();

    // submit order to rider
    var form = $(this)[0];
    var formData = new FormData(form);

    $.ajax({
      type: "POST",
      url: `${baseURL}/add-fee`,
      contentType: false,  // tell jQuery not to set contentType
      processData: false,  // tell jQuery not to process the data
      data: formData,
      success: function (data) {
        if (data.status) {
          Swal.fire({ icon: 'success', title: data.message, showConfirmButton: false, timer: 1500 });
          $('#form-add-fee').trigger("reset");
        } else {
          Swal.fire({ icon: 'error', title: 'Something Went Wrong', showConfirmButton: false, timer: 3000 });
        }
      }
    });
  });
  
  $('#gymboy').autocomplete({
      minChars: 3,
      delay: 500,
      autofocus: true,
      source: function (name, response) {
        $.ajax({
          type: 'GET',
          url: `${baseURL}/gymboy-by-name/${name.term ? (name.term).trim() : 'All'}/0/10/${token}`,
          beforeSend: function () {
            $(".ui-menu").html('<li class="ui-menu-item"><div class="ui-menu-item-wrapper" tabindex="0"><img src="./image/searching.gif" width="25" />Searching...</div></li>')
          },
          success: function (data) {
            if (data.row && data.row.length) {
              response(data.row.map(el => {
                return {
                  label: ` ${el.mobile_number} : ${el.name}`,
                  value: el.name,
                  data: el
                }
              }));
            } else {
              response([{
                label: `No Results Found!`,
              }]);
            }
          }
        });
      },
      select: function (e, { item }) {
        let el = item.data;
        $('#gymboy_id').val(el.id);
        $(this).addClass('active');
        $('#monthly_fee').val(el.fee).addClass('active');
      },
      focus: function (e, ui) { e.preventDefault(); }
    })
      .on('focus', function () {
        $(this).autocomplete('search', $(this).val() == '' ? "All" : $(this).val());
      })
      .data("ui-autocomplete")._renderItem = function (ul, item) {
        return $("<li></li>")
          .data("item.autocomplete", item)
          .append(`<div><img class="ui-menu-image mr-3" src='image/avatar.png' />${item.label}</div>`)
          .appendTo(ul);
      };
</script>


</html>