<!DOCTYPE html>
<html>

<head>
  <title>Fitness Gym</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <link rel="stylesheet" type="text/css" href="css/mdb.min.css">
  <link href="css/datepicker.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="css/sidebar.css">
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
  <link href="css/osfont.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/sweetalert2.min.css" />
  <link rel="stylesheet" href="css/jquery-ui.min.css">
  <link rel="stylesheet" type="text/css" href="css/daterangepicker.min.css" />
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">

  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/render.min.js"></script>
  <script type="text/javascript" src="js/moment.min.js"></script>
  <script type="text/javascript" src="js/script.js"></script>

</head>

<body>
  <div class="wrapper">
    <!-- Sidebar -->
    <div id="p-menu"></div>

    <div class="content-i">
      <!-- header -->
      <div id="p-header"></div>

      <div id="content">
        <div class="container-sm">
          <div class="thead">
            <div class="row justify-content-md-center" id="row-thead">
              <div class="col-4 col-sm-4">
                <h4 class="mb-1">Trainer List</h4>
                <h6 class="m-0" id="thead-status"></h6>
              </div>
              <div class="col-8 col-sm-8">
                <div class="pull-right">
                  <a href="#" id="bulk-assign-trainer-btn" class="btn btn-outline-success d-none"> <i
                      class="fa fa-motorcycle"></i> <b class="d-none d-sm-inline-block ms-1"> Trainer </b></a>
                  <a href="#" id="refresh-list" class="btn btn-outline-warning ms-2"> <i class="icon-refresh"></i> <b
                      class="d-none d-sm-inline-block ms-1"> Refresh </b></a>
                  <a href="#" id="filter-btn" class="btn btn-outline-secondary ms-2"> <i class="fa fa-filter"></i> <b
                      class="d-none d-sm-inline-block ms-1"> Filter </b></a>
                </div>
              </div>
            </div>
            <hr>
            <div id="filter-table">
              <div class="row mb-4 pb-4">
                <div class="col-12 col-sm-6 col-lg-6">
                  <div class="form-outline form-group">
                    <i class="pre-icon os-icon os-icon-calendar" data-toggle="tooltip" title="Joining Date"></i>
                    <input class="form-control dated active" id="joining_date" name="joining_date" minlength="7">
                    <label class="form-label" for="joining_date">Joining Date</label>
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-6">
                  <div class="form-group">
                    <i class="pre-icon icon-list" data-toggle="tooltip" title="No of Delivery Show"></i>
                    <select class="form-control" id="filter-limit">
                      <option value="50" selected>50</option>
                      <option value="100">100</option>
                      <option value="150">150</option>
                      <option value="200">200</option>
                      <option value="250">250</option>
                    </select>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-6">
                  <div class="form-outline form-group">
                    <i class="pre-icon icon-magnifier" data-toggle="tooltip" title="Search"></i>
                    <input type="text" class="form-control" id="filter-search">
                    <label class="form-label" for="joining_date">Search</label>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-6">
                  <div class="form-group">
                    <i class="pre-icon icon-directions" data-toggle="tooltip" title="Sort"></i>
                    <select class="form-select" id="filter-sort" name="filter-sort">
                      <option value="1">Sort By Newest</option>
                      <option value="0">Sort By Oldest</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tbody" id="tbody">
            <!-- table body render here -->
          </div>
          <hr class="m-0">
          <div class="tfoot p-3" id="tfoot">
            <div class="page-desc">
              Showing 10 entries
            </div>
            <div class="page-btn text-right">
              <a href="#" class="btn btn-white mb-1" id="previous"> <i class="icon-arrow-left mr-1"></i> Prev</a>
              <a href="javascript:void(0)" class="btn btn-primary mb-1" id="pageNo">1</a>
              <a href="#" class="btn btn-white mb-1" id="next">Next <i class="icon-arrow-right ml-1"></i> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="row">
          <div class="col-12" id="userCard">
            <!-- user card render here -->
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="assignTrainer" tabindex="-1" role="dialog" aria-labelledby="assignTrainerTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            Assign Trainer To Gymboy <b id="gymboy_name"></b></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="" id="form-assignTrainer">
            <div class="row">
              <div class="col-sm-12 col-lg-12">
                <div class="form-outline form-group">
                  <i class="pre-icon icon-user" data-toggle="tooltip" title="Trainer"></i>
                  <input type="text" class="form-control trainer" id="trainer" name="trainer" required>
                  <label class="form-label required" for="trainer">Trainer</label>
                  <input type="hidden" class="form-control" id="trainerId" name="trainerId" required>
                  <input type="hidden" class="form-control" id="userId" name="userId" required>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
            </div>
            <br>
            <br>
            <div class="row">
              <div class="col-sm-12 col-lg-12 text-right">
                <button class="btn btn-success submit" type="submit">Assign</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</body>

<script id="tbodyTmpl" type="text/html">
	<div class="row origin-row" key="{{:id}}">
	  <div class="col col-6 col-sm-6 col-lg-3">
        <img class="img-desc" src="image/profiles/avatar.png" />
        <div class="user-desc ms-1">
            <p class="row-name" >{{:name}}</p>
            <p class="row-address" >{{:address}}</p>
        </div>
	  </div>
	  <div class="col col-6 col-sm-6 col-lg-1 c-end">
		  <p class="row-order text-center"><i class="m-2 i-desc icon-user primary"></i>{{:weight}}</p>
    </div>
	  <div class="col col-6 col-sm-6 col-lg c-start">
      <p class="row-phone text-center"><i class="m-2 i-desc icon-screen-smartphone warning"></i>{{:mobile_number}}</p>
	  </div>
	  <div class="col col-6 col-sm-6 col-lg c-end">
      <p class="row-restaurant text-center"><i class="m-2 i-desc os-icon os-icon-calendar primary"></i>{{format:joining_date}}</p>
	  </div>
	  <div class="col col-6 col-sm-6 col-lg c-start pr-0">
		  <p class="row-area text-center"><i class="m-2 i-desc os-icon os-icon-coins-4 warning"></i>{{currency:fee}}</p>
	  </div>
	  <div class="col col-6 col-sm-6 col-lg c-end">
      <!-- Split dropright button -->
      <div class="btn-group mb-2" key="{{:id}}" style="margin-left: auto;">
        
        <button type="button" class="btn btn-sm btn-default p-1" data-mdb-toggle="dropdown" aria-expanded="false">
          <i class="icon-settings m-1"></i>
        </button>

        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#"><i class="os-icon os-icon-ui-49 me-2"></i> Edit</a></li>
          <li><a class="dropdown-item" href="#"><i class="os-icon os-icon-grid-10 me-2"></i> Deactivate</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item danger show-deletePopup" href="#"><i class="os-icon os-icon-ui-15 me-2"></i> Delete</a></li>
        </ul>
      
      </div>
      <!-- Split dropright button -->    
    </div>
    
	</div>
</script>

<script id="userCardTmpl" type="text/html">
  <div class="card after">
    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
    <div class="card-body">
      <div class="m-t-30 text-center">
        <img src="image/profiles/avatar.png"  class="img-circle br-none" width="130">
        <h4 class="card-title m-t-10">{{:name}}</h4>
        <h6 class="card-subtitle">{{:address}}</h6><br/>
        <div class="row">
          <div class="col text-center">
            <a href="javascript:void(0)" class="link">
              <i class="i-prof icon-screen-smartphone warning"></i>
              <p class="font-medium">{{:mobile_number}}</p>
            </a>
          </div>
          <div class="col text-center">
            <a href="javascript:void(0)" class="link">
              <i class="i-prof os-icon os-icon-calendar primary"></i>
              <p class="font-medium">{{format:joining_date}}</p>
            </a>
          </div>
          <div class="col text-center">
            <a href="javascript:void(0)" class="link">
              <i class="i-prof os-icon os-icon-coins-4 warning"></i>
              <p class="font-medium">{{:fee}}</p>
            </a>
          </div>
          <div class="col text-center">
            <a href="javascript:void(0)" class="link">
              <i class="i-prof icon-user primary"></i>
              <p class="font-medium">{{:weight}}</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="card-body">
      <div class="row">
        <div class="col-6 mb-2">
          <div class="p-t-30 db">Email</div>
          <h6>{{:email}}</h6>
        </div>
        <div class="col-6 mb-2">
          <div class="p-t-30 db">Gender</div>
          <h6>{{:gender}}</h6>
        </div>
        <div class="col-6 mb-2">
          <div class="p-t-30 db">Created</div>
          <h6>{{datetime:created_at}}</h6>
        </div>
        <div class="col-6 mb-2">
          <div class="p-t-30 db">Status</div>
          <h6>{{isPresent:is_active}}</h6>
        </div>
        <div class="col-6 mb-2">
          <div class="p-t-30 db">Other Details</div>
          <h6 class="danger">{{:other_details}}</h6>
        </div>
      </div>
    </div>
    <hr>
    <div class="card-body">
      <a class="pull-right btn btn-outline-default ms-2" href="javascript:void(0)">
        <i class="os-icon os-icon-x-circle me-2"></i> <b>Close</b>
      </a>
      <a class="pull-left btn btn-outline-danger ms-2" href="javascript:void(0)">
        <i class="fa fa-history me-2"></i> <b>Deactivate</b>
      </a>
      <a class="pull-left btn btn-outline-primary ms-2" href="javascript:void(0)">
        <i class="os-icon os-icon-ui-49 me-2"></i> <b>Edit</b>
      </a>
    </div>
  </div>
</script>

<!-- jquery load script -->
<script>
  $("#p-header").load("./_partials/header.html", function () { $(this).children(':first').unwrap(); });
  $("#p-menu").load("./_partials/menu.html", function () { $(this).children(':first').unwrap(); });
  function pageActive() {
    $("#page-name").text("Trainer List");
    $('#trainer_list').addClass('active');
  }
</script>

<script type="text/javascript" src="js/auth.js?v=2"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/mdb.min.js"></script>
<script src="js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="js/render-converter.js"></script>
<script src="js/jquery.autocomplete.min.js"></script>
<script type="text/javascript" src="js/daterangepicker.min.js"></script>
<script src="js/validator.min.js"></script>
<script src="js/sweetalert2.min.js"></script>


<script>
  $(document).ready(() => {

    // dated ##############################################################
    $('.dated').daterangepicker({
      showDropdowns: true,
      startDate: moment().subtract(29, 'days'),
      endDate: moment(),
      ranges: window.dateranges,
      locale: {
        format: 'DD-MM-YYYY'
      }
    }, function (start, end, label) {
      processOnChange();
    });

    // pagging ###########################################################
    $('#next').on('click', function (e) {
      let i = +$('#pageNo').text();
      $('#pageNo').text(++i);
      processOnChange();
    });

    $('#previous').on('click', function () {
      let i = +$('#pageNo').text();
      if (i > 1) {
        $('#pageNo').text(--i);
        processOnChange();
      }
    });

    // on filter change and refresh ######################################
    $('#filter-sort, #filter-limit').on('change', function () {
      $('#pageNo').text(1); // set page to 1
      processOnChange();
    });

    $('#filter-search').on('input', function () {
      processOnChange();
    });

    // list-medical-record ###############################################
    function processOnChange() {
      let startDate = moment($("#joining_date").data('daterangepicker').startDate._d).format('YYYY-MM-DD 00:00:00');
      let endDate = moment($("#joining_date").data('daterangepicker').endDate._d).format('YYYY-MM-DD 23:59:59');
      let search = $('#filter-search').val() ? $('#filter-search').val() : 'All';
      let sort = $('#filter-sort').val();
      let take = $('#filter-limit').val();
      let skip = (+$('#pageNo').text() - 1) * +take;

      $.get(`${baseURL}/trainer-list/${startDate}/${endDate}/${search}/${sort}/${skip}/${take}/${token}`, function (data) {
        data = data.row
        $("#tbody").html($("#tbodyTmpl").render(data)); // render tmplt
        $('.page-desc').html(`Showing ${data.length} Entries`);

        // on row click modal show ######################################
        $('.origin-row').on('click', function (e) {
          let userId = +$(this).attr('key');
          $("#userCard").html($("#userCardTmpl").render(data.filter(el => el.id == userId)));
          $('#profileModal').modal('show');
        });

        $('.origin-row .col-end .btn-group').on('click', function (e) {
          e.stopPropagation();
        });

        initializeEvents();

      });
    }

    function initializeEvents () {
      $('.btn-assignTrainer').on('click', function (e) {
        // e.stopPropagation();
        let userId = +$(this).closest('.origin-row').attr('key');
        $('#gymboy_name').text(` - ${userId}`);
        $('#userId').val(userId); // inside form input
        $('#assignTrainer').modal('show');
      });
    }

    // initial run #######################################################
    processOnChange();
    

    // autocomplete #####################################################################################
    // $('.rider').autocomplete({
    //   minChars: 3,
    //   delay: 500,
    //   autofocus: true,
    //   source: [...(JSON.parse(localStorage.riders_moh_admin)).map(el => {
    //     return {
    //       category: 'Rider',
    //       label: ` ${el.mobileNumber} : ${el.fullName}`,
    //       value: el.fullName,
    //       data: el
    //     }
    //   })],
    //   select: function (e, { item }) {
    //     let el = item.data;
    //     $('#riderId').val(el.deliveryPersonId);
    //     $('#bulkRiderId').val(el.deliveryPersonId);
    //   },
    //   focus: function (e, ui) { e.preventDefault(); }
    // })
    //   .on('focus', function () {
    //     $(this).autocomplete('search', $(this).val() == '' ? " " : $(this).val());
    //   })
    //   .data("ui-autocomplete")._renderItem = function (ul, item) {
    //     return $("<li></li>")
    //       .data("item.autocomplete", item)
    //       .append(`<div><img class="ui-menu-image mr-3" src='img/tawseel-rider.png' />${item.label}</div>`)
    //       .appendTo(ul);
    //   };

    // assign rider form submission #####################################################################
    $('#form-assignTrainer').on('submit', function (e) {
      e.preventDefault();

      // submit order to rider
      let formData = {
        "userId": +$('#userId').val(),
        "trainerId": +$('#trainerId').val()
      };

      console.log(formData);
      return;

      // $.ajax({
      //   type: "POST",
      //   url: `${baseURL}/Orders/AssignDeliveryPerson`,
      //   contentType: "application/json",
      //   headers: {
      //     "Authorization": `Bearer ${token}`
      //   },
      //   data: JSON.stringify(formData),
      //   success: function (data) {
      //     if (data.message == "success") {
      //       Swal.fire({ icon: 'success', title: 'Rider Is Assigned!!!', showConfirmButton: false, timer: 1500 });
      //       $('#form-assignTrainer').trigger("reset");
      //       $('#exampleModalCenter').modal('hide');
      //       processOnChange();
      //     } else {
      //       Swal.fire({ icon: 'error', title: 'Something Went Wrong', showConfirmButton: false, timer: 3000 });
      //     }
      //     // due to same autocomplete ###############
      //     $('#form-riderBulkAssign').trigger("reset");
      //   }
      // });
    });
  });
</script>

</html>